<body>
  <div class="container my-5">
    <div class="card-group my-3">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4" style="background-color: grey ;">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Titulo del puesto</h5>
              <p class="card-text">
                <li>periodo</li>
                <li>descripcion de la act. realizada</li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>