<body>
  <h1 class=" my-4"> #Experiencia profesional</h1>
  <div class="container my-5">

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- *ngFor -->
      <div class="col">
        <div class="card h-100" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4" style="background-color: grey ;">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo del puesto</h5>
                <p class="card-text">
                  <li>periodo</li>
                  <li>descripcion de la act. realizada</li>
                </p>
              </div>
            </div>

            <div *ngIf="isLoggedIn" class="card-footer">
              <small class="text-muted">Lastsd updated 3 mins ago</small>
            </div>
            
          </div>
        </div>
      </div>      
    </div>
  </div>
</body>