<body>
  <h1 class=" my-4"> #Habilidades duras y
    blandas</h1>
  <div class="container my-5">

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- *ngFor-->
      <div class="col">
        <div class="card h-100" style="max-width: 540px;">
          <div class="row g-0 border border-success border-2 rounded-3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo del puesto</h5>
                <p class="card-text">
                  <li>periodo</li>
                  <li>descripcion de la act. realizada</li>
                </p>
              </div>
            </div>
            <app-edicion-hardysoft [isLoggedIn]="isLoggedIn"></app-edicion-hardysoft>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Volver al Inicio
    <i class="bi bi-arrow-90deg-left"></i>
  </a>
</div>