<body>

  <div class="row align-items-center">
    <div class="col-8">
      <h1 class=" my-4"> #Proyectos realizados</h1>
    </div>
    <div class="col-4">
      <button type="button" data-bs-toggle="modal" data-bs-target="#agregarProyecto_Modal" class="btn btn-secondary"><i
          class="bi bi-plus-square" style="font-size: 1rem"></i>
        Agregar</button>
      <app-edicion-crear-nuevo-proyecto (createEvent)="refreshList()"></app-edicion-crear-nuevo-proyecto>
    </div>
  </div>

  <div *ngFor="let proy of misProyectos" class="container my-5 mx-5">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>{{proy.nombre}}</h1>
      <p>
        {{ proy.descripcion}} <br>
        {{ proy.url_proyecto}}
      </p>
    </div>
    <app-edicion-proyectos *ngIf="isLoggedIn()" [thisProy]="proy" (modEvent)="refreshList()"></app-edicion-proyectos>
  </div>

</body>

<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Volver al Inicio
    <i class="bi bi-arrow-90deg-left"></i>
  </a>
</div>