<body>

  <h1 class=" my-4"> #Proyectos realizados</h1>
  <div *ngFor="let proy of misProyectos" class="container my-5 mx-5">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>{{proy.nombre}}</h1>
      <p>
        {{ proy.descripcion}} <br>
        {{ proy.url_proyecto}}
      </p>
    </div>
    <app-edicion-proyectos></app-edicion-proyectos>
  </div>

</body>

<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Volver al Inicio
    <i class="bi bi-arrow-90deg-left"></i>
  </a>
</div>