<div class="container text-center card-footer">
  <div class="row">
    <div class="col d-grid">      
      <button type="button" class="btn" (click)="onClickUpdate()" data-bs-toggle="modal" [attr.data-bs-target]="'#actualizarEstudio_Modal'+thisEdu.id">
        <i class="bi bi-pencil text-muted"></i>
      </button>              
    </div>
    <div class="col d-grid">
      <button type="button" class="btn" (click)="onClickDelete()">
        <i class="bi bi-trash text-muted"></i>        
      </button>
    </div>
  </div>
</div>

<app-update [thisEdu]="thisEdu" (modEvent)="refreshList()"></app-update>



