<!-- Modal -->
<div class="modal fade" id="agregarEstudio_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- form -->
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="mb-3">
            <label for="inputLine1_lab" class="form-label">Nombre del establecimiento/instituto</label>
            <input type="text" id="inputLine1_txt" name="inputLine1_txt" class="form-control"
              formControlName="nombre_instituto">
            <div class="col-auto">
              <span id="inputLine1HelpInline" class="form-text">
                Maximo 20 carácteres
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine2_lab" class="form-label">Titulo otorgado</label>
            <input type="text" id="inputLine2_txt" class="form-control" formControlName="titulo">
            <div class="col-auto">
              <span id="inputLine2HelpInline" class="form-text">
                Lic, bachiller, etc...
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine4_lab" class="form-label">Link del logo/foto institucion</label>
            <input type="text" id="inputLine4_txt" class="form-control" formControlName="url_logo">
            <div class="col-auto">
              <span id="inputLine4HelpInline" class="form-text">
                Maximo 250 caracteres.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine3_lab" class="form-label">Fecha de inicio de la actividad</label>
            <input type="text" id="inputLine3_txt" class="form-control" formControlName="fecha_inicio">
            <div class="col-auto">
              <span id="inputLine3HelpInline" class="form-text">
                dd/mm/aaaa.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine5_lab" class="form-label">Fecha de fin de la actividad (si se terminó)</label>
            <input type="text" id="inputLine5_txt" class="form-control" formControlName="fecha_fin">
            <div class="col-auto">
              <span id="inputLine5HelpInline" class="form-text">
                dd/mm/aaaa.
              </span>
            </div>
          </div>

          <button type="submit" [disabled]="!formdata.valid" data-bs-dismiss="modal"
            class="btn btn-primary">Agregar</button>
        </form>

      </div>
    </div>
  </div>
</div>