<!-- Modal -->
<div class="modal fade" id="editarPersona_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar MIS datos personales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- form -->
        <form>
          <div class="mb-3">
            <label for="inputLine1" class="form-label">Nombre / Titulo del puesto</label>
          <input type="text" id="inputLine1" class="form-control">
          <div class="col-auto">
            <span id="inputLine1HelpInline" class="form-text">
              Must be 8-20 characters long.
            </span>
          </div>
          </div>

          <div class="mb-3">
            <label for="inputLine2" class="form-label">Periodo trabajado</label>
          <input type="text" id="inputLine2" class="form-control">
          <div class="col-auto">
            <span id="inputLine2HelpInline" class="form-text">
              desde / hasta.
            </span>
          </div>
          </div>

          <div class="mb-3">
            <label for="inputLine4" class="form-label">Descripcion de la experiencia laboral</label>
          <input type="text" id="inputLine4" class="form-control">
          <div class="col-auto">
            <span id="inputLine4HelpInline" class="form-text">
              Maximo 250 caracteres.
            </span>
          </div>
          </div>

          <div class="mb-3">
            <label for="inputLine3" class="form-label">Link del logo/foto institucion</label>
          <input type="text" id="inputLine3" class="form-control">
          <div class="col-auto">
            <span id="inputLine3HelpInline" class="form-text">
              url completa.
            </span>
          </div>
          </div>

          <button type="submit" class="btn btn-primary">Agregar</button>
        </form>

      </div>
    </div>
  </div>
</div>