<!-- Modal -->
<div class="modal fade" id="editarPersona_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Habilidad dura/blanda</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- form -->
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="mb-3">
            <label for="inputLine19_lab" class="form-label">Tu nombre</label>
            <input type="text" id="inputLine19_txt" name="inputLine19_txt" class="form-control"
              formControlName="nombre">
            <div class="col-auto">
              <span id="inputLine19HelpInline" class="form-text">
                Maximo 75 carácteres, minimo 10.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine29_lab" class="form-label">Tu apellido</label>
            <input type="text" id="inputLine29_txt" name="inputLine29_txt" class="form-control"
              formControlName="apellido">
            <div class="col-auto">
              <span id="inputLine29HelpInline" class="form-text">
                Maximo 75 carácteres, minimo 10.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine39_lab" class="form-label">Tu email de contacto</label>
            <input type="text" id="inputLine39_txt" name="inputLine39_txt" class="form-control"
              formControlName="email">
            <div class="col-auto">
              <span id="inputLine39HelpInline" class="form-text">
                Debe ser una direccion  de correo electronico.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine49_lab" class="form-label">Fecha de nacimiento</label>
            <input type="text" id="inputLine49_txt" class="form-control" formControlName="fecha_nac">
            <div class="col-auto">
              <span id="inputLine49HelpInline" class="form-text">
                Maximo 10 carácteres, dd/mm/aaaa
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine59_lab" class="form-label"> Titulo actual </label>
            <input type="text" id="inputLine59_txt" class="form-control" formControlName="titulo_actual">
            <div class="col-auto">
              <span id="inputLine59HelpInline" class="form-text">
                Titulo que posees actualmente.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine6_lab" class="form-label">Informacion sobre tí </label>
            <input type="text" id="inputLine6_txt" class="form-control" formControlName="sobre_mi">
            <div class="col-auto">
              <span id="inputLine6HelpInline" class="form-text">
                Maximo 250 carácteres.
              </span>
            </div>
          </div>

          <!--                          UNDER DEVELOPMENT
          <div class="mb-3">
            <label for="inputLine7_lab" class="form-label"> Si querés cambiar la contraseña: </label>
            <input type="password" id="inputLine7_txt" class="form-control" formControlName="contrasenia">
            <div class="col-auto">
              <span id="inputLine7HelpInline" class="form-text">
                Maximo 10 carácteres.
              </span>
            </div>
          </div>
          -->

          <div class="mb-3">
            <label for="inputLine8_lab" class="form-label"> Si querés cambiar la url de linked-in: </label>
            <input type="text" id="inputLine8_txt" class="form-control" formControlName="linkedin">
            <div class="col-auto">
              <span id="inputLine8HelpInline" class="form-text">
                Maximo 250 carácteres.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine9_lab" class="form-label"> Si querés cambiar la url de facebook: </label>
            <input type="text" id="inputLine9_txt" class="form-control" formControlName="facebook">
            <div class="col-auto">
              <span id="inputLine9HelpInline" class="form-text">
                Maximo 250 carácteres.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label for="inputLine11_lab" class="form-label"> Si querés cambiar la url de github: </label>
            <input type="text" id="inputLine11_txt" class="form-control" formControlName="github">
            <div class="col-auto">
              <span id="inputLine11HelpInline" class="form-text">
                Maximo 250 carácteres.
              </span>
            </div>
          </div>

          <button type="submit" [disabled]="!formdata.valid" data-bs-dismiss="modal"
            class="btn btn-primary">Guardar</button>
        </form>

      </div>
    </div>
  </div>
</div>