#icono_argpro {
  height: 100%;
  width: 10%;
}

#slogan {
  color: black;
  font-weight: 500;
  font-style: italic;
  font-size: larger;
}

section {
  background: rgb(247, 247, 247);
  background: radial-gradient(circle, rgba(247, 247, 247, 1) 0%, rgba(254, 254, 254, 1) 92%);
}

