<div class="container text-center card-footer border rounded">
  <div class="row">
    <div class="col d-grid">
      <button type="button" class="btn" (click)="onClickUpdate()" data-bs-toggle="modal" [attr.data-bs-target]="'#actualizarProyecto_Modal'+thisProy.id">
        <i class="bi bi-pencil text-muted"></i>
      </button>
    </div>
    <div class="col d-grid">
      <button type="button" class="btn" (click)="onClickDelete()">
        <i class="bi bi-trash text-muted"></i>
      </button>
    </div>
  </div>
</div>

<app-update-proyectos [thisProy]="thisProy" (modEvent)="refreshList()"></app-update-proyectos>
