<!-- HEROES -->
<section>
  <div class="bg-image row flex-lg-row-reverse align-items-center g-5 py-5 ">
    <div class="col-10 col-sm-8 col-lg-6 rounded">
      <img src="/assets/images/yo2_1_sinBG_2.png" class="d-block mx-lg-auto img-fluid" alt="Mi hero photo" width="450"
        height="350" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3" style="font-style: italic" >
       {{miPortfolio.nombre}} {{miPortfolio.apellido}}
      </h1>
      <p class="lead">>
        {{miPortfolio.titulo_actual}}
      </p>
      <p class="lead" style="font-style: italic; text-align:justify;">>
        {{miPortfolio.sobre_mi}}
      </p>
    </div>
  </div>
</section>